/* GREEN LINE NEXT TO TITLE */
.title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.line {
    width: 10px;
    height: 50px;
    background-color: #00933C; /* 6 Train Green */
    display: inline-block;
    border-radius: 4px;
}

/* 6 TRAIN ICON */
.train-icon {
    width: 55px;
    height: 55px;
    background-color: #00933C;     /* 6 Train green */
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;             /* circle */
    border: 3px solid #00933C;
    box-shadow: 0 0 10px #00933C;
}
